.serach{
    background-color: darkgrey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    width:90% ;
    margin-left: 5%;
    margin-right: 5%;
}

.input{
   


}
